* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  height: 20%;
  background-image: url(./img/menu/Upper.png);
  background-size: 100% 100%;
}

.Out {
  height: 75%;
  background-image: url(./img/menu/background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.In {
  height: 90%;
  width: 80%;
  background-color: rgba(173, 192, 186, 0.377);
}

footer {
  height: 5%;
  background-color: rgb(100, 71, 71);
}

.info {
  display: flex;
  justify-content: space-between;
}
#area {
  background: #fff;
  width: 400px;
  aspect-ratio: 1;
  margin-top: 100px;
  overflow: hidden;
}

#object {
  background: orange;
  width: 60px;
  aspect-ratio: 1;
  transform: translateY(-100%);
  position: relative;
}

#object.start {
  animation-name: movement;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* анимиция движения объекта (определение) */
@keyframes movement {
  to {
    transform: translateY(400px);
  }
}
